body{
	font-family: 'Montserrat',sans-serif;
	text-align: center;
}

p{
	color: #8f8f8f;	
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

.big-heading{
	font-size: 3rem;
	line-height: 1.5;
}

.section-heading{
	font-size: 3rem;
	line-height: 1.5;
}

/* Containers */

.container-fluid{
	padding: 7% 15%; /* 7% arriba y abajo y 15% a la derecha y a la izquierda */
}

/* Barra de navegación */

.navbar{
	padding: 0 0 4.5rem;
}

.navbar-brand{
	font-family: 'Ubuntu',sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
}

.nav-item{
	padding: 0 18px;
}

.nav-link{
	font-size: 1.2rem;
	font-family: 'Montserrat',sans-serif;
	font-weight: 300;
}

/* Botones de descarga */

.download-button{
	margin: 5% 3% 5% 0;
}

/* Sección título */

#title{
	background-color: #ef8172;
	color: #fff;
	text-align: left;
}

#title .container-fluid{
	padding: 3% 15% 7%;
}

.title-image{
	width: 60%;
	transform: rotate(25deg);
	position: absolute; /* para aplicar z-index es necesario que el elemento sea relative, absolute o flex */
	right: 30%;
}

/* Sección de características */

#features{
	background-color: #fff;
	/* z-index: 1; se va a posicionar en el top*/
	position: relative;
}

.feature-title{
	font-size: 1.5rem;
}

.feature-box{
	padding: 5%;
}

.icon{
	color: #ef8172;
	margin-bottom: 1rem;
}

/* Pseudoclase que le da estilo cuando pasa el cursor por el icono */
.icon:hover{ 
	color:#ff052a;
}

/* Sección de testimonios */

#testimonials{
	background-color: #ef8172;
	color:#fff;
}

.testimonial-text{
	font-size: 3rem;
	line-height: 1.5;
}

.testimonial-image{
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}

#press{
	background-color: #ef8172;
	padding-bottom: 3%;
}

.press-logo{
	width: 15%;
	margin: 20px 20px 50px; 
}

/* Sección de precios */

#pricing{
	padding: 100px;
}

.price-text{
	font-size: 3rem;
	line-height: 1.5;
}

.pricing-column{
	padding: 3% 2%;
}

/* Sección de CTA */
#cta{
	background-color: #ef8172;
	color: #fff;
}

/* Sección pie de página */

.social-icon{
	margin: 20px 10px;
}

/* media queries (puntos de ruptura) */

@media (max-width:1028px){

	#title{
		text-align: center;
	}

	.title-image{
		position: static;
		transform: rotate(0);
	}
}